@media screen and (max-device-width: 1400px) and (max-device-height: 1024px) {
    .main-container {
        width: 80%;
        max-height: 75%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-box {
        width: 40%;
    }

    .content-box {
        width: 60%;
    }
}
            
@media screen and (max-device-width: 1100px) {
    .main-container {
        width: 80%;
        max-height: 500px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .tab-content {
        padding: 8%;
    }
}

@media screen and (max-device-width: 1024px) and (max-device-height: 1366px) {
    .profile-box {
        width: 45%;
    }

    .content-box {
        width: 55%;
    }
}

@media screen and (max-device-width: 1024px) and (max-device-height: 700px) {
    .profile-box {
        width: 40%;
    }

    .content-box {
        width: 60%;
    }
}

@media screen and (max-device-width: 850px) {
    .tab-box button {
        padding-top: 8px;
        padding-bottom: 5px;
        border-bottom: rgba(0, 0, 0, 0) solid 3px;
    }

    .main-container {
        width: 80%;
        height: 88%;
        margin-top: 2%;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 2%;
    }

    .profile-box {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
    }

    .profile-box img {
        max-height: 80%;
        margin: auto;
    }

    .profile-info {
        display: none;
    }

    .content-box {
        width: 60%;
    }

    .tab-content {
        padding: 8%;
    }

    .tab-content h2 {
        font-size: 35px;
    }

    .tab-content h2::before {
        font-size: 20px;
    }

    .tab-content h2::after {
        font-size: 20px;
    }

    .tab-content h3 {
        font-size: 15px;
        margin-bottom: 30px;
    }

    .tab-content p {
        font-size: 15px;
        margin-top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-device-width: 850px) and (max-device-height: 900px) {
    .main-container {
        width: 80%;
        height: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
    }

    .profile-box {
        width: 45%;
    }

    .profile-info {
        display: flex;
    }

    .content-box {
        width: 55%;
    }
}

@media screen and (max-device-width: 850px) and (max-device-height: 450px) {
    .profile-box {
        width: 40%;
    }

    .profile-image {
        max-width: 100%;
        height: 100%;
    }

    .profile-info {
        display: none;
    }

    .content-box {
        width: 60%;
    }

    .tab-content {
        padding: 10%;
    }
}

@media screen and (max-device-width: 850px) and (max-device-height: 380px) {
    .profile-box {
        width: 40%;
    }

    .content-box {
        width: 60%;
    }
}

@media screen and (max-device-width: 770px) and (max-device-height: 1024px) {
    .main-container {
        width: 80%;
        height: 90%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-box {
        width: 45%;
    }

    .profile-info {
        display: flex;
    }

    .content-box {
        width: 55%;
    }
    
    .tab-content {
        padding: 10%;
    }

    .tab-content h2 {
        font-size: 40px;
    }

    .tab-content h2::before {
        font-size: 25px;
    }

    .tab-content h2::after {
        font-size: 25px;
    }

    .tab-content h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .tab-content p {
        font-size: 20px;
        padding-bottom: 30px;
    }
}

    @media screen and (max-device-width: 750px) {
    .main-container {
        width: 80%;
        height: 90%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-radial {
        width: 100%;
        height: 100%;
    }

    .profile-info {
        display: none;
    }

    .tab-content {
        padding: 5%;
    }

    .tab-content h2 {
        font-size: 40px;
    }

    .tab-content h2::before {
        font-size: 25px;
    }

    .tab-content h2::after {
        font-size: 25px;
    }

    .tab-content h3 {
        font-size: 20px;
        margin-bottom: 30px;
    }

    .tab-content p {
        font-size: 15px;
        padding-bottom: 30px;
    }
}

@media screen and (max-device-width: 750px) and (max-device-height: 900px) {
    .main-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-info {
        display: flex;
    }
}

@media screen and (max-device-width: 750px) and (max-device-height: 450px) {
    .main-container {
        height: 80%;
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-box {
        width: 40%;
    }

    .profile-info {
        display: none;
    }

    .content-box {
        width: 60%;
    }
}

@media screen and (max-device-width: 700px) {
    .main-container {
        width: 80%;
        height: 90%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-radial {
        width: 100%;
        height: 100%;
    }

    .profile-info {
        display: flex;
    }

    .tab-content {
        padding: 5%;
    }
}

@media screen and (max-device-width: 700px) and (max-device-height: 450px) {
    .main-container {
        height: 80%;
        margin-top: auto;
        margin-bottom: auto;
    }

    .profile-box {
        width: 45%;
    }

    .content-box {
        width: 55%;
    }

    .tab-content {
        padding: 10%;
    }
}

@media screen and (max-device-width: 700px) and (max-device-height: 380px) {
    .profile-box {
        width: 45%;
    }

    .content-box {
        width: 55%;
    }
}

@media screen and (max-device-width: 700px) and (max-device-height: 300px) {
    .profile-box {
        width: 40%;
    }

    .content-box {
        width: 60%;
    }
}

@media screen and (max-device-width: 680px) and (max-device-height: 450px) {
    .profile-box {
        width: 45%;
    }

    .profile-info {
        display: none;
    }

    .content-box {
        width: 55%;
    }
}

@media screen and (max-device-width: 680px) and (max-device-height: 320px) {
    .profile-box {
        width: 40%;
    }

    .profile-info {
        display: none;
    }

    .content-box {
        width: 60%;
    }
}

@media screen and (max-device-width: 655px) and (max-device-height: 280px) {
    .profile-box {
        width: 35%;
    }

    .profile-info {
        display: none;
    }

    .content-box {
        width: 65%;
    }

    .tab-content {
        padding: 5%;
    }
}

@media screen and (max-device-width: 550px) {
    .header-container {
        flex-direction: column;
    }

    .name-box {
        background-color: rgb(226, 226, 226);
        width: 100vw;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        font-size: 40px;
    }

    h1::after {
        font-size: 40px;
    }

    .tab-box {
        width: 80vw;
        margin-left: 10%;
        margin-right: 10%;
    }

    .tab-box button {
        font-size: x-large;
    }

    .main-container {
        display: flex;
        flex-direction: column;
        width: 70%;
        max-height: 90%;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15%;
        margin-right: 15%;
    }

    .profile-box {
        width: 100%;
    }

    .profile-image {
        max-width: 100%;
        height: 100%;
    }

    .profile-info {
        display: none;
    }

    .content-box {
        width: 100%;
        height: 100%;
    }

    .tab-content {
        padding: 10%;
    }

    .tab-content h2 {
        font-size: 55px;
    }

    .tab-content h2::before {
        font-size: 40px;
    }

    .tab-content h2::after {
        font-size: 40px;
    }

    .tab-content h3 {
        font-size: 30px;
        padding-bottom: 20px;
    }

    .tab-content p {
        font-size: 25px;
    }

    .social-media-box {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .social-media-box a {
        height: 65px;
    }

    .social-media-box a:hover {
        height: 60px;
    }
}

@media screen and (max-device-width: 550px) and (max-device-height: 720px) {
    .main-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-width: 450px) and (max-device-height: 750px) {
    .main-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-width: 450px) and (max-device-height: 700px) {
    .main-container {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-width: 380px) and (max-device-height: 700px) {
    .main-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-height: 350px) {
    h1 {
        padding: 8px;
        font-size: large;
    }

    h1::after {
        font-size: large;
    }

    .tab-box button {
        padding-top: 6px;
        padding-bottom: 3px;
        border-bottom: rgba(0, 0, 0, 0) solid 3px;
    }

    .main-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .profile-info {
        display: none;
    }

    .tab-content {
        padding: 7%;
    }

    .tab-content h2 {
        margin-bottom: 5px;
        font-size: 35px;
    }

    .tab-content h2::before {
        font-size: 20px;
    }

    .tab-content h2::after {
        font-size: 20px;
    }

    .tab-content h3 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .tab-content p {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 0;
        padding-bottom: 10px;
    }

    .social-media-box {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
    }

    .social-media-box a {
        height: 35px;
    }

    .social-media-box a:hover {
        height: 30px;
    }
}

@media screen and (max-device-width: 360px) and (max-device-height: 650px) {
    .main-container {
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-width: 350px) and (max-device-height: 700px) {
    .main-container {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-width: 350px) and (max-device-height: 600px) {
    .main-container {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-device-width: 300px) {
    .main-container {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}