body {
    width: 100vw;
    height: 100vh;
    margin: auto;
    background-color: rgb(34, 34, 34);
}

#application {
    background-image: linear-gradient(to right, rgb(43, 43, 43), rgba(221, 221, 221, 0.438)), url(images/background/code-background.jpg);
    background-size: cover;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
}

#application-header {
    background: linear-gradient(0deg, rgb(255, 255, 255) 75%, rgba(34, 34, 34) 25%);
    display: flex;
    width: 100vw;
    height: 15vh;
}

.header-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 75%;
    margin-top: auto;
}

.name-box {
    display: flex;
    justify-content: center;
    width: 40vw;
    height: 100%;
    margin: 0px 20px;
}

h1 {
    color: black;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
    margin: auto;
}

h1::before {
    content: "__";
    color: rgb(175, 30, 30);
    background-color: rgb(175, 30, 30);
    width: 10vw;
    height: 50%;
}

h1::after {
    content: " MCMANUS";
    color: black;
    font-size: x-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}

.tab-box {
    display: flex;
    width: 60vw;
    height: 100%;
    margin-left: 10%;
    margin-right: 10%;
}

.tab-box button {
    color: black;
    background: white;
    padding-top: 10px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    text-decoration: none;
    border: none;
    border-bottom: rgba(0, 0, 0, 0) solid 3px;
    cursor: pointer;
    transition: 0.3s;
}

.tab-box button:hover {
    border-bottom: rgb(187, 187, 187) solid 2px;
}

.tab-box button.active {
    border-bottom: rgb(175, 30, 30) solid 3px;
}

#application-main {
    background: linear-gradient(250deg, rgba(0,0,0,0) 60%, rgba(172, 39, 39, 0.671) calc(60% + 2px), rgb(73, 32, 32) 98%);
    display: flex;
    width: 100vw;
    height: 70vh;
    margin: auto;
}
.main-container {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 85%;
    margin: auto;
    box-shadow: rgba(44, 44, 44, 0.493) 20px 20px 20px;
}

.profile-box {
    background: rgb(211, 211, 211);
    display: flex;
    width: 70%;
    height: 100%;
}

.profile-box img {
    display: flex;
    justify-content: center;
    width: 90%;
    height: auto;
    margin: auto;
}

.content-box {
    background: rgb(255, 255, 255);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    width: 100%;
    height: auto;
}

#home {
    flex-direction: row;
    justify-content: center;
    width: 80%;
    height: auto;
    padding: 5%;
    margin: auto;
    animation: fadeEffect 1s;
}

    /* Go from zero to full opacity */
    @keyframes fadeEffect {
        from {opacity: 0;}
        to {opacity: 1;}
        }

.open-quote {
    display: flex;
    align-self: flex-start;
    padding-right: 2%;
    margin: 0;
}

.open-quote::before {
    content: open-quote;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 40px;
    color:rgb(212, 71, 71);
}

.close-quote {
    display: flex;
    align-self: flex-end;
    padding-left: 2%;
    margin: 0;
}

.close-quote::after {
    content: close-quote;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-size: 40px;
    color:rgb(212, 71, 71);
}

.welcome-message {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.welcome-message h2 {
    font-size: 40px;
    color: rgb(212, 71, 71);
    width: 90%;
    padding-bottom: 5%;
    margin: 0;
}

.welcome-message h2::before {
    content: "Hi there! I'm ";
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: 100%;
}

.welcome-message h2::after {
    content: ",";
    color: rgb(0, 0, 0);
    font-size: 25px;
    width: 100%;
}

.welcome-message h3 {
    display: flex;
    color: rgb(139, 139, 139);
    width: 100%;
    padding-bottom: 5%;
    margin: 0;
}

.welcome-message p {
    display: flex;
    font-size: 20px;
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0; 
}

#info, #portfolio, #blog, #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    height: auto;
    margin: auto;
}

.tab-image {
    display: flex;
    max-width: 50%;
    max-height: 50%;
    padding-bottom: 2%;
    margin: auto;
}

.tab-p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: large;
    width: 100%;
    max-height: 25%;
    margin: auto;
}

#application-footer {
    background-color: rgb(34, 34, 34);
    display: flex;
    width: 100vw;
    height: 15vh;
    bottom: 0;
    margin: auto;
}

.footer-container {
    display: inline-flex;
    width: 100%;
    height: 100%;
    bottom: 0;
    margin: auto;
}

.social-media-box {
    display: flex;
    width: 60%;
    height: 100%;
    margin-left: 20%;
    margin-right: 20%;
}

.social-media-box a {
    display: inline-flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.social-media-box a img {
    display: flex;
    height: auto;
    max-width: 20%;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}

.social-media-box a img:hover {
    display: flex;
    height: auto;
    max-width: 15%;
    margin: auto;
    cursor: pointer;
    transition: 0.3s;
}