body {
    width: 100vw;
    height: 100vh;
    margin: auto;
}

#application {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5)), url(images/background/code-background.jpg);
    background-size: cover;
    background-color: rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    margin: auto;
}

#application-header {
    background: linear-gradient(0deg, rgb(255, 255, 255) 75%, rgba(34, 34, 34) 25%);
    display: flex;
    width: 100vw;
    height: 15vh;
    margin: auto;
}

.application-main {
    background: linear-gradient(250deg, rgba(0,0,0,0) 60%, rgba(172, 39, 39, 0.671) calc(60% + 2px), rgb(80, 12, 12) 98%);
    display: flex;
    width: 100vw;
    height: 70vh;
    margin: auto;
}

.application-footer {
    background-color: rgb(34, 34, 34);
    display: flex;
    width: 100vw;
    height: 15vh;
    margin: auto;
}